#col
{
    background-color: grey;
    text-align: center;
    border-radius: 20px;
    width: 1000px;
    height: 250px;
    box-shadow: 5px 5px 5px black;
}

#f
{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}



#b
{
    color: purple;
    font-size: 20px;
}

#t
{
    height: 150px;
    width: 150px;
}

.copy_right_footer
{
  position: fixed;
  font-family: 'Calligraffitti', cursive;
  line-height: 3;
  color: red;
  background-color: yellow;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#g
{
    color: red;
}

#col-2
{
    background-color: hotpink;
    text-align: center;
    border-radius: 20px;
    width: 250x;
    height: 100px;
    box-shadow: 5px 5px 5px black;

}

.VS
{
    color: red;
    font-size: 25px;
}

#y
{
    text-align: left;
}
